extends layout

block content
	#homeCarousel.carousel.slide
		ol.carousel-indicators
			li(data-target='#homeCarousel',data-slide-to='0',class='active')
			li(data-target='#homeCarousel',data-slide-to='1')
			li(data-target='#homeCarousel',data-slide-to='2')
			li(data-target='#homeCarousel',data-slide-to='3')
		.carousel-inner
			.item.active
				img(src='#{cdn}/img/slide1.jpg')
			.item
				img(src='#{cdn}/img/slide2.jpg')
			.item
				img(src='#{cdn}/img/slide3.jpg')
			.item
				img(src='#{cdn}/img/slide4.jpg')
	script
		$('#homeCarousel').carousel();
	h1 Introducing Thermostat Monitor
	img(align='right',style='margin:0px 0px 10px 10px',src='#{cdn}/img/desktopapp.gif')
	p Thermostat Montior is an open source project for tracking thermostat usage patterns.  It currently supports WiFi enabled thermostats made by <a href="http://radiothermostat.com/">Radio Thermostat</a> and <a href="http://androidthermostat.com/">Android Thermostat</a>.</p>
	h3 How it Works
	p Thermostat Monitor is a free, open source solution that you can use with our hosted website or a copy running on your own server.  To get started <a href="/cp/register.aspx">register</a> an account and tell us about your thermostats.  Then download the desktop application that will periodically ping your thermostat to receive data and ping our server to publish that data.  You can then log in and view your thermostat usage history.</p>
	h2 Completely Open
	p Thermostat Monitor is completely open.  You can use the website for free or you can download the source code and host your own copy.  You can also export your data in CSV format.</p>
